<!-- <h1>Russell 1000</h1>
<table>
  <tr>
    <th>Symbol</th>
    <th>Company</th>
    <th>Closing Price</th>
  </tr>
  <!%@closing_prices_arr.each do |price| %>
  <tr>
    <td></td>
    <td></td>
    <td><!%=price%></td>
  </tr>
  <!%end%>
</table> -->

<%= @daily_close %>
