<h1>Russell 1000 Growth Stock Index</h1>
<h2>Current list of Buy and Sell Signals</h2>
<h3> built by Omar Ansari & Casey Platt for Mike Poland </h3>
<table>
  <tr>
    <th>Symbol</th>
    <th>Company</th>
    <th>Closing Price</th>
  </tr>
  <%@closing_prices_arr.each do |price| %>
  <tr>
    <td></td>
    <td></td>
    <td><%=price%></td>
  </tr>
  <%end%>
</table>
